.title {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
  color: #075327;
}

.input {
  margin: 0 auto;
  height: 30px;
  width: 270px;
  border: 1px solid rgb(17, 114, 61);
  border-radius: 5px;
}
@media screen and (min-width: 480px) {
  .input{
    width: 340px;
  }
}
@media screen and (min-width: 768px) {
  .input {
    width: 290px;
  }
}
.input:hover,
.input:focus {
  border: 1px solid #0c803c;
}

.filter {
  width: 250px;
  display: block;

  margin: 0 auto;
  margin-left: 30px;
  padding-bottom: 20px;
}

div.filter_wrap {
  margin: 0 auto;
}
