.form {
  margin: 0 auto;
  margin-top: 20px;
  width: 350px;
  border: 1px solid rgb(17, 114, 61);
  border-radius: 5px;
  padding: 0 0 10px 10px;
}
.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

p.title {
  color: rgb(14, 90, 48);
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
}
.btn {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: none;

  height: 34px;
  width: 306px;
  background-color: rgb(8, 94, 47);

  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-top: 30px;
}

.btn:hover,
.btn:focus {
  background-color: #0c803c;
  cursor: pointer;
}
.input {
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 300px;
  border: 1px solid rgb(17, 114, 61);
  border-radius: 5px;
}

.input:hover,
.input:focus {
  border: 1px solid #0c803c;
}
