.link {
  /* margin-right: 20px; */
  margin-left: 20px;
}
.titleMenu {
  color: rgb(12, 100, 71);
  text-decoration: none;
  font-weight: 500;
  /* border-bottom: 2px solid transparent; */
}
/* @media screen and (max-width: 768px) {
  .titleMenu{
    display: flex;
    flex-direction: column;
  }
} */
.titleMenu:hover {
  border-bottom: 3px solid #047c4a;
}
.titleMenu:active {
  border-bottom: 3px solid #047c4a;
}
